body
{
   background:url("/Web/Design/Picture/image6.jpg") no-repeat;
   background-size: 100%;
}
.formdesign{
  color: lightblue ;
  width: 100%;
  text-align: center;
  font-size: 57px;
  font-family: courier;
}
.formMessage{
  background-color: transparent;
}
.formButton{

}
.design{

}
.table_design{

}
.lowest_price{

}
.highest_price{

}
.City{

}
.Surface{

}
.Deal_not_Deal{

}
